* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.4;
  color: #1b1a1a;
}

p {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.4;
  color: #9b9b9b;
}

.row {
  margin: 0;
}

header .header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header .header-sticky .navbar-light-trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 100px;
}

header .header-sticky .navbar {
  padding: 0;
}

header .header-sticky .navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

header .header-sticky .navbar .navbar-brand .sub-log {
  width: 40px;
  border-radius: 20px 0px 0px 0px;
  border-top: 8px solid #fff;
}

header .header-sticky .navbar .navbar-toggler {
  padding: 0;
  border-color: rgba(0, 0, 0, 0);
}

header .header-sticky .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  background: #fe5a0e;
  border-radius: 4px;
  text-align: center;
  color: white;
}

header .header-sticky .navbar .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: .5px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .active .nav-link {
  color: #fe5a0e;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .top-quote .btn-style {
  background: #fe5a0e;
  border: 1px solid #fe5a0e;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .top-quote .btn-style:hover {
  color: white;
  border-color: #E44901;
  background-color: #E44901;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .top-quote .btn-style:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
}

header .header-sticky .navbar .mobile-position nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-sticky .navbar .mobile-position nav .theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-sticky .navbar .mobile-position nav .theme-switch-wrapper .theme-switch {
  display: inline-block;
  position: relative;
  width: 35px;
  margin: 0;
}

header .header-sticky .navbar .mobile-position nav .theme-switch-wrapper .theme-switch input {
  display: none;
}

header .header-sticky .navbar .mobile-position nav .theme-switch-wrapper .theme-switch .mode-container {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

header .header-sticky .navbar .mobile-position nav .theme-switch-wrapper .theme-switch .mode-container .fa-moon {
  display: block;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 20px;
  height: 20px;
  border: none;
}

@media (max-width: 991px) {
  header .header-sticky .navbar .mobile-position {
    position: absolute;
    right: 50px;
    top: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-toggler {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse {
    display: block !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 991px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
  }
}

@media (max-width: 600px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse {
    background-color: black;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse .navbar-nav {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .collapse:not(.show) {
    display: none !important;
  }
}

header .isScrolling .navbar-light-trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  background-color: white;
  height: 80px;
  border-bottom: none;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

header .isScrolling .navbar-light-trans .navbar .navbar-brand {
  color: #1b1a1a;
}

header .isScrolling .navbar-light-trans .navbar .navbar-brand .sub-log {
  border-color: #fe5a0e;
}

header .isScrolling .navbar-light-trans .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #1b1a1a;
}

@media (max-width: 991px) {
  header .isScrolling .navbar-light-trans .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
  }
}

header .isScrolling .navbar-light-trans .navbar .mobile-position .fa-moon {
  color: #1b1a1a !important;
}

#carousel {
  position: relative;
}

#carousel .carousel__slide {
  position: relative;
}

#carousel .carousel__slide .carousel__item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel .carousel__slide .carousel__item img {
  width: 100%;
  height: 100vh;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #carousel .carousel__slide .carousel__item img {
    height: 60vh;
  }
}

@media (max-width: 991px) {
  #carousel .carousel__slide .carousel__item img {
    height: 60vh;
  }
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item img {
    height: 70vh;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content {
  position: absolute;
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 700px;
}

@media (max-width: 991px) {
  #carousel .carousel__slide .carousel__item .carousel__content {
    max-width: 630px;
    left: 10%;
  }
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item .carousel__content {
    max-width: 400px;
    left: 5%;
    right: 5%;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content h1 {
  font-size: 85px;
  line-height: 95px;
  font-weight: 700;
  color: white;
}

@media (max-width: 991px) {
  #carousel .carousel__slide .carousel__item .carousel__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item .carousel__content h1 {
    font-size: 20px;
    line-height: 30px;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content p {
  font-weight: 600;
  font-size: 18px;
  margin-top: 2rem;
  color: white;
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item .carousel__content p {
    font-size: 16px;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content .btn-style {
  background: #fe5a0e;
  border: 1px solid #fe5a0e;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
}

#carousel .carousel__slide .carousel__item .carousel__content .btn-style:hover {
  color: white;
  border-color: #E44901;
  background-color: #E44901;
}

#carousel .carousel__slide .carousel__item .carousel__content .btn-style:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
}

#carousel .carousel__slide .carousel__item .carousel__content .btn-white {
  color: #fe5a0e;
  background: white;
  border-color: white;
}

#carousel .carousel__slide .carousel__item .carousel__content .btn-white:hover {
  color: #fe5a0e;
  background: white;
  border-color: white;
}

#carousel .carousel__slide .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#carousel .carousel__slide .owl-nav button {
  position: absolute;
  top: 47%;
  color: white;
  font-size: 26px;
  margin: 0px;
  width: 46px;
  height: 46px;
  line-height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.21);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#carousel .carousel__slide .owl-nav button:hover {
  background: #fff;
  opacity: 1;
  color: #fe5a0e;
}

#carousel .carousel__slide .owl-nav .owl-prev {
  left: 2%;
}

#carousel .carousel__slide .owl-nav .owl-next {
  right: 2%;
}

@media (max-width: 600px) {
  #carousel .carousel__slide .owl-nav {
    display: none;
  }
}

#carousel .arrow-downhny {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

#carousel .arrow-downhny .position-absolute {
  position: absolute !important;
}

@media (max-width: 600px) {
  #carousel .arrow-downhny .position-absolute {
    left: 46%;
  }
}

#carousel .arrow-downhny .position-absolute .arrow-down-icon {
  background: #fff;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

#carousel .arrow-downhny .position-absolute .arrow-down-icon i {
  color: #1b1a1a;
  line-height: 40px;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 90, 14, 0.5), 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5);
            box-shadow: 0 0 0 0 rgba(254, 90, 14, 0.5), 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5), 0 0 0 30px rgba(50, 100, 245, 0);
            box-shadow: 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5), 0 0 0 30px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 90, 14, 0.5), 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5);
            box-shadow: 0 0 0 0 rgba(254, 90, 14, 0.5), 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5), 0 0 0 30px rgba(50, 100, 245, 0);
            box-shadow: 0 0 0 10px rgba(254, 90, 14, 0.5), 0 0 0 20px rgba(254, 90, 14, 0.5), 0 0 0 30px rgba(50, 100, 245, 0);
  }
}

#about {
  margin: 7rem auto;
}

#about .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #cacaca;
  text-transform: uppercase;
}

#about .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#about .content-area {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #about .content-area {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #about .content-area {
    width: 100%;
  }
}

#about .about__grids .grid__block {
  background-color: white;
  position: relative;
  padding: 4rem 3rem;
  -webkit-box-shadow: 0 3px 53px rgba(40, 40, 40, 0.05);
          box-shadow: 0 3px 53px rgba(40, 40, 40, 0.05);
  border-radius: 6px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#about .about__grids .grid__block a {
  text-decoration: none;
}

#about .about__grids .grid__block a i {
  font-size: 36px;
  color: #fe5a0e;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#about .about__grids .grid__block a p {
  -webkit-transition: all .4s;
  transition: all .4s;
}

#about .about__grids .grid__block:hover {
  background-color: #fe5a0e;
}

#about .about__grids .grid__block:hover a i {
  color: white;
}

#about .about__grids .grid__block:hover a p {
  color: white;
}

@media (max-width: 991px) {
  #about .about__grids .grid__block {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  #about .about__grids .grid__block {
    padding: 3rem 2rem;
  }
}

#industry {
  background-color: #f7f9fa;
  padding: 3rem 0;
}

#industry .industry__grid .industry__text .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #cacaca;
  text-transform: uppercase;
}

#industry .industry__grid .industry__text .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#industry .industry__grid .industry__text .content-area {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #industry .industry__grid .industry__text .content-area {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #industry .industry__grid .industry__text .content-area {
    width: 100%;
  }
}

#industry .industry__grid .industry__text ul {
  list-style: none;
}

#industry .industry__grid .industry__text ul li {
  font-size: 18px;
  line-height: 26px;
  color: #1b1a1a;
  margin: 15px 0;
  font-weight: 600;
}

#industry .industry__grid .industry__text ul li i {
  color: #fe5a0e;
  margin-right: 12px;
  font-size: 15px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #industry .industry__grid .industry__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  #industry .industry__grid .industry__img {
    margin-top: 1rem;
  }
}

#industry .industry__grid .industry__img img {
  width: 100%;
  border-radius: 6px;
}

#projects {
  margin: 5rem 0;
}

#projects .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #cacaca;
  text-transform: uppercase;
}

#projects .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#projects .content-area {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #projects .content-area {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #projects .content-area {
    width: 100%;
  }
}

#projects .title, #projects .sub-title {
  text-align: center;
}

#projects .projects__grid {
  margin-top: 2rem;
}

#projects .projects__grid .projects__item {
  margin-bottom: 1.5rem;
}

#projects .projects__grid .projects__item a .item__hover {
  position: relative;
  overflow: hidden;
}

#projects .projects__grid .projects__item a .item__hover::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#projects .projects__grid .projects__item a .item__hover:hover::before {
  left: 100%;
  width: 100%;
}

#projects .projects__grid .projects__item a .item__hover img {
  width: 100%;
  border-radius: 6px;
}

#stats {
  background-color: #f7f9fa;
  padding: 5rem 0;
}

#stats .stats__grid .stats__item i {
  font-size: 2.5em;
  color: #fe5a0e;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 600px) {
  #stats .stats__grid .stats__item i {
    font-size: 2rem;
  }
}

#stats .stats__grid .stats__item .counter {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #1b1a1a;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  #stats .stats__grid .stats__item .counter {
    font-size: 35px;
    line-height: 38px;
  }
}

#stats .stats__grid .stats__item h4 {
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #9b9b9b;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #stats .stats__grid .stats__item h4 {
    font-size: 12px;
    line-height: 20px;
  }
}

#stats .stats__grid .stats__item:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#faq {
  margin: 5rem 0;
}

#faq .faq__grid .faq__img {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

#faq .faq__grid .faq__img img {
  width: 100%;
  border-radius: 6px;
}

#faq .faq__grid .faq__text .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #cacaca;
  text-transform: uppercase;
}

#faq .faq__grid .faq__text .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#faq .faq__grid .faq__text .content-area {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #faq .faq__grid .faq__text .content-area {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #faq .faq__grid .faq__text .content-area {
    width: 100%;
  }
}

#faq .faq__grid .faq__text .faq__accordion .accordion__item {
  padding: 20px 20px 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #e9e9e9;
}

#faq .faq__grid .faq__text .faq__accordion .accordion__item .accordion {
  background-color: white;
  color: #1b1a1a;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

#faq .faq__grid .faq__text .faq__accordion .accordion__item .accordion::after {
  content: '\2304';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  line-height: 24px;
}

#faq .faq__grid .faq__text .faq__accordion .accordion__item .active::after {
  content: '\2303';
}

#faq .faq__grid .faq__text .faq__accordion .accordion__item .panel {
  background-color: white;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

#bottom .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #cacaca;
  text-transform: uppercase;
}

#bottom .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#bottom .content-area {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #bottom .content-area {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #bottom .content-area {
    width: 100%;
  }
}

#bottom p {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 760px;
}

#bottom .buttons .btn-style {
  background: #fe5a0e;
  border: 1px solid #fe5a0e;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
}

#bottom .buttons .btn-style:hover {
  color: white;
  border-color: #E44901;
  background-color: #E44901;
}

#bottom .buttons .btn-style:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 139, 66, 0.5);
}

#bottom .buttons .btn-white {
  color: #fe5a0e;
  background: white;
}

footer {
  background: #222;
  padding: 3rem 0;
}

footer .footer__list h6 {
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 600;
}

footer .footer__list .footer__social {
  margin-top: 1.5rem;
}

footer .footer__list .footer__social ul {
  list-style: none;
}

footer .footer__list .footer__social ul li {
  margin-right: 1rem;
  display: inline-block;
}

footer .footer__list .footer__social ul li a {
  color: #9b9b9b;
  background: #3c3c3c;
  width: 35px;
  height: 35px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

footer .footer__list .footer__social ul li:hover .social__facebook {
  background: #3b5998;
  color: white;
}

footer .footer__list .footer__social ul li:hover .social__twitter {
  background: #1da1f2;
  color: white;
}

footer .footer__list .footer__social ul li:hover .social__insta {
  background: #c13584;
  color: white;
}

footer .footer__list .footer__social ul li:hover .social__linkedin {
  background: #0077b5;
  color: white;
}

footer .footer__list ul {
  list-style: none;
}

footer .footer__list ul li {
  margin-bottom: 15px;
}

footer .footer__list ul li a {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.4;
  color: #9b9b9b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__list ul li:hover a {
  color: white;
}

footer .contact-us ul li {
  color: #9b9b9b;
}

footer .contact-us ul li i {
  color: #ccc;
  margin-right: 10px;
}

footer .footer__subscribe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 1.5rem;
}

footer .footer__subscribe .list__left h6 {
  margin-bottom: 10px;
}

footer .footer__subscribe .list__right .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

footer .footer__subscribe .list__right .subscribe input[type="email"] {
  padding: 15px 60px 15px 20px;
  font-size: 17px;
  line-height: 26px;
  border: 1px solid #e9e9e9;
  background-color: white;
  outline: none;
  width: 100%;
  color: #9b9b9b;
  border-radius: 6px;
}

footer .footer__subscribe .list__right .subscribe button {
  text-align: center;
  background: #fe5a0e;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  padding: 0px 0px;
  right: 16px;
  top: 13px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 5px;
}

footer .footer__subscribe .list__right .subscribe button i {
  color: white;
  font-size: 16px;
}

@media (max-width: 600px) {
  footer .footer__subscribe .list__right {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  footer .footer__subscribe {
    display: block;
  }
}

#copyright {
  background: #333;
  padding: 1.5rem 0;
}

#copyright a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#copyright a:hover {
  color: white;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fe5a0e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  border-radius: 50%;
}

.back-to-top:hover {
  color: white;
}

.back-to-top__hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.isVisible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
